# Allwinner A20
#
# Note: A20 has two ways to access JTAG:
#  - PB14-PB17 pins.
#      PB14 - TMS
#      PB15 - TCK
#      PB16 - TDO
#      PB17 - TDI
#    Looks like this pins are not configured by BROM. So it can be configured only
#    by bootloader or OS. To configured by uboot you will need to add this:
#      mw 0x01c20828 0x33000001
#      mw 0x01c2082c 0x22000033
#  - PF* (SD0/MMC0)
#      PF0 - TMS
#      PF1 - TDI
#      PF3 - TDO
#      PF5 - TCK
#

if { [info exists CHIPNAME] } {
	set  _CHIPNAME $CHIPNAME
} else {
	set  _CHIPNAME allwinner_a20
}

# Main CPU DAP
if { [info exists DAP_TAPID] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x5ba00477
}

jtag newtap $_CHIPNAME dap -expected-id $_DAP_TAPID -irlen 4

# Dual Cortex-A7
set _TARGETNAME0 $_CHIPNAME.cpu0
set _TARGETNAME1 $_CHIPNAME.cpu1

target create $_TARGETNAME0 cortex_a -chain-position $_CHIPNAME.dap -coreid 0
target create $_TARGETNAME1 cortex_a -chain-position $_CHIPNAME.dap -coreid 1
target smp $_TARGETNAME0 $_TARGETNAME1
